[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/opengl"]
	path = vendor/opengl
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "vendor/easyloggingpp"]
	path = vendor/easyloggingpp
	url = https://github.com/abumq/easyloggingpp.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docked
